.suggested-cover {
  width: 150px;
  object-fit: contain;
}

.suggested-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.sub-price {
  color: brown;
  font-size: 20px;
  font-weight: 700;
}
.suggested-item_name {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  height: 3.6rem;
  width: 90%;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}